*{
	margin: 0;
	padding: 0;
}
.container{
	width: 1100px;
	position: relative;
	height: 1500px;
	border: 1px solid black;
	margin: 0 auto;
}

.header{
	background-color: #333333;
	height: 133px;

}
.row{
	width: 960px;
	margin: 0 auto;
}
.hleft, .hright{
	width: 480px;
	float: left;
}
.tozalash{
	clear: both;
}
.hleft .logo{
	font-family: "Myriad Pro";
	font-size: 60px;
	color: #eeeeee;
	margin-top: 43px;

 
}
.hright{

}
.hright ul{
	list-style: none;
	margin-top: 72px;
	float: right;

}
.hright ul li{
	float: left;
	text-decoration: none;
	color: #eeeeee;
}
.hright ul li a{
	color:inherit;
	text-decoration: none;
}
.hright ul li .active{
	color: #00aeef;
}
.webdesign{
	color: #333333;
	font-size: 60px;
	margin-top: 69px;
	text-transform: capitalize;
	text-decoration: none;
	font-family: "Myriad Pro";

}
.webdesign .active{
	color: #00bff3;
	display: inline;
}
.solutions{
	font-size: 50px;
	color: #bbbbbb;
	text-transform: capitalize;
	font-family: "Myriad Pro";
}
.sometext{
	font-size: 34px;
	color: #555555;
	font-family: "Myriad Pro";
	float: left;
	margin-bottom: 30px;
}
.blue1{
	border: 1px solid #00aeef;
	width: 280px;
	height: 323px;
	background-color: #00aeef;
	float: left;
	margin-left: 0px;
	
}
.hright ul li .active1{
	color: #00aeef;
}
.blue2{
	border: 1px solid #00aeef;
	width: 280px;
	height: 323px;
	background-color: #00aeef;
	float: left;
	margin-left: 58px;
}
.blue3{
	border: 1px solid #00aeef;
	width: 280px;
	height: 323px;
	background-color: #00aeef;
	float: left;
	margin-left: 54px;
	margin-right: 0px;
	float: right;
}
.space{
	width: 230px;
	margin: 0 auto;
}
.marketing{
	font-size: 40px;
	font-family: "Myriad Pro";
	color: white;


}
.insidetext1{
	color: white;
	font-family: "Myriad Pro";
	font-size: 18px;
}
.insidebutton1{
	width: 230px;
	height: 40px;
	border: 3px solid #0076a3;
	margin-top: 10px;
	box-shadow: 0px 0px 5px black inset;
	background-color: #0076a3;
	text-decoration: none;
	
	padding-top: 10px;
	padding-left: 10px;

}
.insidebutton1 a{
	color: white;
	font-size: 18px;
	font-family: "Myriad Pro";
	margin-left: 19px;
	margin-top: 20px;
	text-decoration: none;

	
	

}


.dots2{
	margin-top: 100px;
	
}


.client{
	font-size: 24px;
	font-family: "Myriad Pro";
	color: #555555;
	margin-top: 37px;
}





	

}


}
.name{
	color: #828282;
	font-weight: bolder;
	margin-left: 22px;
	display: inline;
	margin-top: 30px;
	float: left;
	font-family: Arial;
}
.prof{
	color: #00aeef;
	display: inline;
	margin-left: 0px;
	margin-bottom: 40px;

}
.bottom{
	width: 960px;
	height: 450px;
	
	
}
.bottomleft{
	width: 475px;
	height: 450px;
	margin-top: 45px;
	float: left;
	position: 


	
}
.bottomright{
	width: 475px;
	height: 440px;
	
	float: right;


	
	
}
.foto{
	width: 80px;
	height: 80px;
	color: #cccccc;
	float: left;
	border: 1px solid #cccccc;
	background-color: #cccccc;
	margin-top: 5px;
	margin-left: 0px;
	margin-right: 20px;
}
.coment1{
	color: #555555;
	margin-top: 10px;
	font-family: Arial;

}
.client1{
		margin-top: 10px;
	margin-bottom: 30px;
}
.dotsvert{
	text-orientation: upright;
	/*writing-mode: vertical-lr;*/
}
.project{
	font-size: 24px;
	font-family: "Myriad Pro";
	margin-top: 38px;
	
	color: #555555;
}
.campaign{
	font-size: 20px;
	font-family: arial;
}
.row2{
	width: 430px;
	margin: 0 auto;
	color: #888888;
}
.details{
	color: #00aeef;
	margin-top:20px;
	text-decoration: none;
}
.testimonials{
	color: #555555;
	font-size: 24px;
}
.dots1{
	border: 1px dotted gray;
	width: 950px;
}
.dots2{
	border: 1px dotted gray;
	width: 950px;
	margin-top: 110px;
}.dots3{
	border: 1px dotted gray;
	width: 200px;
}.dots4{
	border: 1px dotted gray;
	width: 950px;
	margin-top: 50px;

}
.copy{
	float: left;
	color: gray;

}
.dots5{
	
}





